@CHARSET "ISO-8859-1";

.logo-secao{
	color: gray;
	font-size: 50px;
	font-family:Arial;
}

.info-usuario-sair{
margin-left: 90%
}	

.barra-menu{
	margin-bottom:1.5%;
}

.rodape{
	margin-top:95%;		
}